{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>PyLorean</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!-- Font-awesome-animation CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome-animation.min.css' %}">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block style %}
    {% endblock style %}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and images queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Navbar -->
    {% block menu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a  id="navbar-brand" class="navbar-brand" href="#">PyLorean</a>
            </div><!--//.navbar-header-->
        </div><!--//.container -->
    </nav><!--//.navbar -->
    {% endblock menu %}

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <div class="content-footer container-fluid">
        <div class="row">
            <footer class="footer">
                <section class="section">
                    <article class="col-xs-12 col-sm-6 col-md-3">
                        <h4>PyLorean</h4>
                        <p class="diver"></p>
                        <ul class="list-unstyled">
                            <li><span class="sr-only">Sobre</span><a href=""><i class="fa fa-info-circle"></i> Sobre</a></li>
                            <li><span class="sr-only">Equipe</span><a href=""><i class="fa fa-group"></i> Equipe</a></li>
                            <li><span class="sr-only">Contato</span><a href=""><i class="fa fa-envelope"></i> Contato</a></li>
                        </ul>
                    </article>
                    <article class="col-xs-12 col-sm-6 col-md-3">
                        <h4>Medias Sociais</h4>
                        <p class="diver"></p>
                        <ul class="list-unstyled">
                            <li><span class="sr-only">Facebook</span><a href="" target="_blank"><i class="fa fa-facebook-f"></i> Facebook</a></li>
                            <li><span class="sr-only">Google+</span><a href="" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
                            <li><span class="sr-only">Twitter</span><a href="" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><span class="sr-only">GitHub</span><a href="" target="_blank"><i class=" fa fa-github-alt"></i> GitHub</a></li>
                        </ul>
                    </article>
                </section><!--//.section-->
                <div class="clearfix"></div>
            </footer><!--//.footer-->

            <footer class="footer-secondary">
                <p class="text-left">
                    <i class="fa fa-copyright"></i> 2015 PyLorean
                </p>
                <p class="text-right">
                    Projetado e Construido com <i class="fa fa-heart faa-pulse animated"></i> usando
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> &amp; <a href="https://www.python.org/" target="_blank">Python</a> &middot;
                    por <a href="http://saocarlos.pyladies.com/" target="_blank">PyLadies São Carlos</a>.
                </p>
            </footer><!--//.footer-secondary-->
        </div><!--//.row-->
    </div><!--//.container-fluid-->
    {% endblock footer %}

    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
